.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.3s;
}
.btn-soft {
  color: var(--btn-soft-text);
  padding: 0.7em 1.7em;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0.5em;
  background: var(--btn-soft-bg);
  border: 1px solid var(--btn-soft-border);
  box-shadow: 6px 6px 12px var(--neu-dark), -6px -6px 12px var(--neu-light);
}

.btn-soft:hover:not(:disabled) {
  border: 1px solid var(--btn-soft-bg);
}

.btn-soft:active:not(:disabled) {
  box-shadow: 4px 4px 12px var(--neu-light), -4px -4px 12px var(--neu-light);
}
